
.first{
background: url(../image/img/Photo.jpg) no-repeat;
background-size: cover;



&__title{
    padding: 380px 0 0 0;
  margin: 0 0 26px;
    @include title;
    font-size: 48px;
    max-width: 523px;
    line-height: 53px;
    letter-spacing: -1.44px;
    
    &:after{
        content: ".";
        color: $mainColor;
    }
}

&__subtitle{
    @include text;
    font-size: 20px;
    max-width: 408px;
    color: #314a5b;
    margin: 0 0 68px 0;
}
&__button{
 
   padding-bottom: 380px;
   
   &__inner{
    background: $mainColor;
    color: $mainWhite;
    padding: 23px 42px 21px;
    border-radius: 8px;
    text-transform: uppercase;
    font-family: 'Open Sans';
    
   }
}
}
@media (max-width: $smDesktopWight){
    .first{
      
        

        &__title{
            padding: 180px 0 0 0 ;
        }
        
        &__button{
            padding-bottom: 200px;
        }
    }
}


@media (max-width: $tableWight){
    .first{
        margin: 50px 0 0 ;
        

        &__title{
            padding: 180px 0 0 0 ;
        }
        
        &__button{
            padding-bottom: 200px;
        }
    }
}

@media (max-width:$phoneWidth){
    .first{
        margin: 50px 0 0 ;
        

        &__title{
            padding: 50px 0 0 0 ;
            font-size: 30px;
            line-height: 35px;
        }
        
        &__button{
            padding-bottom: 100px;
        }
        &__subtitle{
            font-size: 15px;
        }
        &__button__inner{
            padding: 15px 36px 13px;
            
           }
    }
    ::-webkit-scrollbar {
        display: none;
    }
}

@media (max-width:$smPhoneWight){
    .first{
        margin: 50px 0 0 ;
       

        &__title{
            padding: 20px 0 0 0 ;
            font-size: 25px;
            line-height: 35px;
        }
        
        &__button{
            padding-bottom: 50px;
        }
        &__subtitle{
            font-size: 15px;
        }
        &__button__inner{
            padding: 15px 18px 13px;
            
           }
    }
    
}