.post{

    &__title{
        @include title;
        font-size: 26px;
        margin: 0 0 24px 0;
        }
    
        &__key-word::after{
            content: ".";
            color: $mainColor;

        }

        &__text{
            @include text;
            font-size: 15px;
            line-height: 22px;
            margin: 0 0 22px 0;
        }
        &__link{
           @include more;
        }
}